/* 
==========
FONTS 
==========
*/
@font-face {
    font-family: "Catamaran";
    src: url(./font/Catamaran/static/Catamaran-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Catamaran";
    src: url(./font/Catamaran/static/Catamaran-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Grand Hotel";
    src: url(./font/Grand_Hotel/GrandHotel-Regular.ttf);
}
