*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 40px 20px;
}
.card-wrapper{
    position: relative;
    min-height: 350px;
    perspective: 2000px;
    perspective-origin: top;
}
.card-wrapper:hover .card{
    transform: rotateY(180deg);
}
.card{
    position: relative;
    height: 100%;
    transition: transform 0.8s ease;
    color: white;
    font-weight: bold;
    transform-style: preserve-3d;
}
.card-front, .card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
}
.card-front{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-front img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    margin: 5px;
}
.card-back{
    background-color: #ed5d34;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.card-back a{
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
    background-color: #fff;
    font-size: 14px;
    color: #333;
}